#container{
    height: 70vh;
    width: 25vw;
    background-color: antiquewhite;
    display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
#container1{
    background-color:white;
    height: 20vh;
    width: 24vw;
    border: 2px solid black;
    display: flex;
    flex-direction:row-reverse;
    align-items: flex-end;
    justify-content:center;
}

#div3{
    background-color:rgb(226, 17, 17);
    height: 20px;
    width: 20px;
    border-radius: 100px;
}
#div4{
    background-color:rgb(12, 23, 180);
    height: 40px;
    width: 40px;
    border-radius: 100px;
}
#div5{
    background-color:rgb(115, 206, 12);
    height: 60px;
    width: 60px;
    border-radius: 100px;
}
#div6{
    background-color:rgb(224, 193, 14);
    height: 80px;
    width: 80px;
    border-radius: 100px;

}
#container2{
    background-color:white;
    height: 20vh;
    width: 24vw;
    border: 2px solid black; 
    display: flex;
flex-direction:column-reverse;
justify-content: space-between;
}
#div7{
    background-color:rgb(236, 19, 164);
    height: 60px;
    width: 60px;
    border-radius: 100px;
}
#div8{
    background-color:rgb(224, 108, 14);
    height: 70px;
    width: 70px;
    border-radius: 100px;
}
